.export-warehouse-container{
    height: 100%;
    width: 100%;
    display: flex;
    .info-info-detail{
        height: 100%;
        width: 100%;
        // background-color: red;
        padding-top: 15px;
        margin: 10px;
    
        background-color: white;
        // border-top-color: "red";
        border-top: red solid 5px;
        border-radius: 3px;
        .customer {
          height: 50%;
          width: 100%;
          display: flex;
          align-items: center;
        
          &.customer-name {
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              .number-1-name {
                width: 70%;
              }
              .number-1-birth-year {
                width: 25%; 
                margin-left: auto;
              }
          }
          .number-2-address{
                  width: 60%;
          }
          .number-2-phone{
                  width: 35%; 
                  margin-left: auto;
          }
          .number-3-name-employee{
              width: 50%;
          }
          .number-3-percent-discount{
              width: 20%;
              
          }
          .number-3-amount-discount{
              width: 20%;
              margin-left: 25%;
          }
          .number-4-note{
              width: 100%;
          }

        }
        
        
        

    }
    .input-drug{
      height: 50%;
      width: 45%;
      padding-top: 15px;
    
      margin: 10px;
      background-color: white;
      // border-top-color: "red";
      border-top: red solid 5px;
      border-radius: 3px;
     
    }
    .table-container{
      height: 100%;
      width: 60%;
    
      background-color: red;
      height: 100%;
        // background-color: red;
        padding-top: 15px;
        margin: 10px;
    
        background-color: white;
        // border-top-color: "red";
        border-top: red solid 5px;
        border-radius: 3px;
    }  
}
.input{
  margin-top: 5px;
}
.input-1{
  margin-top: 40px;
}
.number{
  
}