@import "../../styles/common.scss";

.UIKhamcontainer{
    width: 100%;
    height: 100%;
    background-color:  #EEEEEE;
}
.UIKham{
    width: 98%;
    height: 87.2%;
    margin-top: 10px;
    background-color: white;
    border-top: $colormain solid 5px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.font-label{
    font-size: 13px;
    font-weight: bold;
    color: black;
}
.input1{
    margin-left: 10px;
    
    border: #AAAAAA solid 1px;
    border-radius: 2px;
    height: 20px;
}
.input2{
    margin-left: 10px;
    height: 25px;
    border: #AAAAAA solid 1px;
    border-radius: 2px;
    height: 20px;
    width: 70px;
}
.input3{
    margin-left: 10px;
    width: 80px;
    border: #AAAAAA solid 1px;
    border-radius: 2px;
    height: 20px;
}
.btn{
    height: 20px;
}
.bordersearch{
    border: 1px solid red;
    margin-left: 15px;
}
.inputserch{
    width: 100%;
    height: 100%;
    border: none;
    
}
input:focus{
    outline: none;
}
input{
    padding-left: 10px;
    border: #AAAAAA solid 1px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: inherit;
    color: gray;
}   
.btntt{
    display:flex;
    width: 50%;
    height: 100%;
    // background-color: aqua;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;

}
.btn2{
    display: flex;
    width: 30%;
    height: 100%;
    background-color: #FF9933;
    border-radius: 1px;
    cursor: pointer;
}
.btn2:hover{
    background-color: #FF9966;
}
.btn3{
    display: flex;
    width: 30%;
    height: 100%;
    background-color: rgba(248, 50, 39, 0.984);
    border-radius: 1px;
    cursor: pointer;
}
.btn3:hover{
    background-color:rgb(249, 76, 49);
}


